export DA_REG=quay.io
export OWNER=amcdermo
export DA_REG=registry.int.frobware.com
export DA_REG=docker.io
export OWNER=library
export OCI_BIN=podman
export IMAGE_TAG=latest
export BPFMAN_IMG=$DA_REG/$OWNER/bpfman:$IMAGE_TAG
export BPFMAN_IMG=quay.io/bpfman/bpfman:$IMAGE_TAG
export BPFMAN_AGENT_IMG=$DA_REG/$OWNER/bpfman-agent:$IMAGE_TAG
export BPFMAN_OPERATOR_IMG=$DA_REG/$OWNER/bpfman-operator:$IMAGE_TAG

# export DA_REG=quay.io
# export DA_REG=docker.io
# export OWNER=library
# export OWNER=amcdermo
# export DA_REG=registry.int.frobware.com
# export OCI_BIN=podman
# export IMAGE_TAG=latest
# export BPFMAN_IMG=quay.io/bpfman/bpfman:$IMAGE_TAG
# export BPFMAN_AGENT_IMG=$DA_REG/$OWNER/bpfman-agent:$IMAGE_TAG
# export BPFMAN_OPERATOR_IMG=$DA_REG/$OWNER/bpfman-operator:$IMAGE_TAG
